@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

* {
  outline-color: $primary-color;
  -webkit-tap-highlight-color: $primary-color;
}

::-moz-selection {
  color: $white;
  background: $primary-color
}

::selection {
  color: $white;
  background: $primary-color
}

.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  padding: .5rem 1rem;
  outline-color: $white;
  color: $white;
  font-weight: bold;
  background-color: $primary-color;
  z-index: 100;
  transition: top 1s
}

.skip-link:focus {
  top: 0;
  color: $white;
  outline-color:$white;
}

.menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 3rem
}

.menu__link {
	flex-grow: 1;
	position: relative;
	width: 100%;
  color: #333;
  text-align: center;
  background: $white;

  &:focus {
  	color: #333
  }
  
  &:hover {
  	color: $primary-color
  }

  &:visited {
  	color:#333
  }

  &.active,
  &.active:focus, {
    background: #333;
    color: #fff
  }
}

.menu__span {
	position: absolute;
	top: 50%;
	left: 50%;
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg)
}

.main {
	padding-right: 48px
}

.page {
  position: relative;
	min-height: 100vh;
	padding: 0 1rem 2rem
}

.page__content--center {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);

  span {
    color: $primary-color
  }
}

/**********************************************************\
* About
\**********************************************************/

.about {
  transition: all .5s ease
}

.about--active {
  top: 25%
}

.about-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.about-menu__item {
  position: absolute;
  transition: all .5s ease
}

.about-menu__item--top {
  top: -100%;
  left: 50%;
  transform: translateX(-50%)
}

.about--active .about-menu__item--top {
  top: -50%
}

.about-menu__item--right {
  top: 50%;
  left: 100%;
  transform: translateX(100%) translateY(-50%)
}

.about-menu__item--left {
  left: -100%;
  top: 50%;
  transform: translateY(-50%)
}

.about-menu__item--bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%)
}

.about-menu__button {
  border: 1px solid $primary-color;
  padding: .5rem 1rem;
  font-size: 2rem
}

/**********************************************************\
* Works
\**********************************************************/

.work {
  padding: 1rem 0
}

/**********************************************************\
* Footer
\**********************************************************/

.social-links {
  text-align: center
}

.social-link {
  margin: 0 1rem;
  font-size: 4rem
}

.email-link {
  font-size: 1.5rem
}

/**********************************************************\
* Contact Form
\**********************************************************/

.contact-information__link {
  color: #333
}

/**********************************************************\
* Footer
\**********************************************************/

.footer {
  padding: 1rem;
  text-align: center
}

.footer__content {
  margin: 0;
  padding: 0
}