<nav class="about-menu">
	<div class="about-menu__item about-menu__item--top">
		<button class="about-menu__button">SKILL</button>
	</div>
	<div class="about-menu__item about-menu__item--right">
		<button class="about-menu__button">PANTS</button>
	</div>
	<!--<div class="about-menu__item about-menu__item--bottom">
		<button class="about-menu__button">WORKS</button>
	</div>-->
	<div class="about-menu__item about-menu__item--left">
		<button class="about-menu__button">ABOUT</button>
	</div>
</nav>