<div target="_blank" class="social-links">
	<a href="https://www.facebook.com/requestingmark" target="_blank" class="social-link social-link__facebook"><span class="fa fa-facebook" aria-hidden="true"></span><span class="show-for-sr">Facebook</span></a>
	<a href="https://www.linkedin.com/pub/mark-mcmurray/37/8aa/999/" target="_blank" class="social-link social-link__linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="show-for-sr">LinkedIn</span></a>
	<a href="https://twitter.com/requestingmark" target="_blank" class="social-link social-link__twitter"><span class="fa fa-twitter" aria-hidden="true"></span><span class="show-for-sr">Twitter</span></a>
	<a href="https://www.facebook.com/requestingmark" target="_blank" class="social-link social-link__github"><span class="fa fa-github" aria-hidden="true"></span><span class="show-for-sr">Github</span></a>
</div>